/*
    Copyright (C) 2015  Aldric Thomazo
    aldric.dev@gmail.com

    License:  GNU General Public License

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
.cse-container{
 position: relative;
 width: 350px;
 min-height: 30px;
}
.cse-text-zone{
  background-color: #FFF;
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  min-height: 25px;
  box-sizing: border-box;
  left: 0;
}

.cse-input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  outline: none;
  height: 25px;
  box-sizing: border-box;
  line-height: 2;
  padding-left: 31px;
  padding-right: 25px;
}

.cse-placeholder{
 position: absolute;
 top: 0;
 left: 31px;
 width: 100%;
 height: 22px;
 background-color: transparent;
 line-height: 1.9;
 color: grey;
 box-sizing: border-box;
 padding-left: 5px;
}
.cse-search{
  opacity: 0.7;
  background-image: url(/packages/aldricus_widgets/imgs/search.png);
  background-repeat: no-repeat;
  background-size: 90%;
  position: absolute;
  left: 1px;
  top: 1px;
  z-index: 2000;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.cse-value-container{
  position: absolute;
  z-index: 3000;
  width: 100%;
  max-height: 54px;
  overflow: auto;

}

.cse-clear, .cse-remove{
   opacity: 0.7;
   width: 25px;
   background-image: url(/packages/aldricus_widgets/imgs/clear25.png);
   background-repeat: no-repeat;
   cursor: pointer;
   min-height: 25px;
   z-index: 3000;
   right: 2px;
   top: 4px;
   position: absolute;
   background-size: 90%;
}
.cse-clear:hover{
	opacity: 0.4;
}
.cse-value{
  background-color: grey;
  position: relative;
  float: left;
  min-height: 25px;
  margin-right: 1px;
  margin-bottom: 2px;
  //max-width: 80px;
  word-wrap: break-word;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: default;
  color: #FFF;
}
.cse-list-item .last-value{
  padding-right: 30px;
}
.cse-value:hover{
	color: #aaa;
}
.cse-list-item{
 padding: 0;
 margin: 0;
}
.cse-list-item li{
  list-style: none;
  max-width: 140px;
  padding: 0 2px 0 2px;
}

.cse-list-item li > *{
  max-height: 25px;
  overflow: hidden;
  display:block;
}
.cse-outline{
    outline:none;
    border:1px solid #470021;
    -webkit-box-shadow: 0px 0px 4px 0px #470021;
    box-shadow: 0px 0px 4px 0px #470021;
}
.cse-remove{
    background-size: 80%;
    top: 2px;
}
@media (max-width: 680px) {
  .cse-container{
   width: 100%  !important;
   min-height: 22px;
  }
  .cse-list-item span{
    line-height: 2;
  }
	.cse-placeholder {
    position: absolute;
    top: 0;
    left: 31px;
    width: 100%;
    background-color: transparent;
    line-height: 2.5;
    color: grey;
    box-sizing: border-box;
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
  }
}