<template name="clientSearchEngine">
	<div class="cse-container cse-{{ id }}-container">
		<div class="cse-search"></div>
		<div class="cse-clear clear-text"></div>
		<div class="cse-text-zone">
		    <input class="cse-input no-ac" id="{{ id }}" type="text" />
		    <div id="cse-placeholder" class="cse-placeholder"></div>
	            <div class="cse-value-container">
		            <ul class="cse-list-item">
		            </ul>
	           </div>
		</div>
	</div>
</template>