<template name="ldrcFile">
	<div class="ldrc-file-edit {{ size }}">
		<div class="container {{ size }}">
			{{ >ldrcFileManagerBtn id="ldrcBrowseFileId" }}
			{{ >ldrcCameraBtn id="ldrcGetPictureId" }}
			{{ >ldrcClear id="ldrcClearFileId" }}
			<div class="ldrc-file  {{ size }} {{ shape }}" {{ style }}>
				<!--{{#if fileLoaded }}
					<img {{ style }} {{ src }}>
				{{else}}
					<img class="load-image" src="/packages/aldricus_widgets/imgs/load.gif" >
				{{/if }}-->
				<img id="ldrc-preview" {{ style }}  src="{{ defaultImg }}">
				<input id="ldrc-preview-data" type="hidden">
			</div>
			<input type="file" name="{{ #if id }}{{ id }}{{ else }}fileupload{{ /if }}" id="{{ #if id }}{{ id }}{{ else }}fileupload{{ /if }}">
		</div>
		<div class="errors"></div>
	</div>
</template>