<!--
    Meteor Simple widgets - Copyright (C) 2015  Aldric T
    aldric.dev@gmail.com

    License:  GNU General Public License

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!-- Input Templates -->
<template name="ldrcInput" >
	<div class="ldrc-input-container {{#if isTextarea}} ldrc-txtarea-container {{ /if }} {{ #if hasLabel}}ldrc-has-label{{ /if }}" id="{{ id }}">
		{{ isFocused }}
		{{ #if hasLabel}}
				<label for="c_{{ cid }}" class="{{ #if isTextarea }}area-label{{ /if }}">{{ label }}</label>
		{{ /if }}
		{{ #if isTextarea }}
			<div class="area-container">
				<textarea id="c_{{ cid }}" name="{{ name }}" data-required="{{ required }}" {{ disable}}></textarea>
				<span class="clear area{{ #if hasLabel}}-lbl{{ /if }}"></span>
			</div>
			{{ #if mandatoryMsg }}
					<span class="mandatory-msg">{{ mandatoryMsg }}</span>
			{{ /if }}
		{{ else }}
			<div class="input-sub-container {{ #if hasLabel}}ldrc-has-label{{ /if }}">
			 	{{ #if search }}
			 		<div class="ldrc-search-ic"></div>
			 	{{ /if }}
				{{ #if edit }}
					<input
						class="{{ class }} {{ #if search}}has-search-ic{{ /if }}"
						id="c_{{ cid }}"
						type="{{ type }}"
						name="{{ name }}"
						value="{{ value }}"
						data-required="{{ required }}"
					/>
					{{ #if mandatoryMsg }}
						<span class="mandatory-msg">{{ mandatoryMsg }}</span>
					{{ /if }}
					<span class="clear"></span>
				{{ else }}
					<div class="read">
						<div class="label">{{ label }}</div>
						<div class="text" {{ txtId }}>{{ value }}</div>
					</div>
				{{ /if }}
			</div>
		{{  /if }}
	</div>
</template>

<!-- Scoring Templates -->
<template name="ldrcScoring" >
	<div class="ldrc-score-container {{ class }}" id="{{ id }}">
		<div class="read">
			{{ #if hasLabel}}
					<div class="label">{{ label }}</div>
			{{ /if }}
			<div class="sprites">{{ imgs }}</div>
		</div>
	</div>
</template>

<template name="ldrcRateThis" >
	<div class="ldrc-input-container {{ class }}" id="{{ id }}">
		<div class="read rate-container">
			{{ #if hasLabel}}
					<div class="label">{{ label }}</div>
			{{ /if }}
			{{ imgs }}
			<input id="ratethis" name="ratethis" type="hidden" value="{{ rateScore }}" />
		</div>
	</div>
</template>

<!-- Button Templates -->
<template name="ldrcAddBtn" >
	<input id="{{ id }}" class="{{ class }} ldrc-img" type="image" src="/packages/aldricus_widgets/imgs/add50.png" alt="Submit" title="Add">
</template>
<template name="ldrcCheckBtn" >
	<input id="{{ id }}" class="{{ class }} ldrc-img" type="image" src="/packages/aldricus_widgets/imgs/check50.png" alt="Check" title="Check" >
</template>
<template name="ldrcLoginBtn" >
	<input id="{{ id }}" class="{{ class }} ldrc-img" type="image" src="/packages/aldricus_widgets/imgs/login.png" alt="Login" title="Log in" >
</template>
<template name="ldrcLogoffBtn" >
	<input id="{{ id }}" class="{{ class }} ldrc-img" type="image" src="/packages/aldricus_widgets/imgs/logoff.png" alt="Logoff" title="Logoff">
</template>
<template name="ldrcCameraBtn" >
	<input id="{{ id }}" class="{{ class }} ldrc-img" type="image" src="/packages/aldricus_widgets/imgs/camera50.png" alt="Camera" title="Camera" >
</template>
<template name="ldrcFileManagerBtn" >
	<input id="{{ id }}" class="{{ class }} ldrc-img" type="image" src="/packages/aldricus_widgets/imgs/filemanager.png" alt="File manager" title="File manager" >
</template>
<template name="ldrcClear" >
	<input id="{{ id }}" class="{{ class }}" type="image" src="/packages/aldricus_widgets/imgs/clear25.png" alt="Clear" title="Clear" width="25" height="25">
</template>
