/*
    Meteor Simple file Management - Copyright (C) 2015  Aldric T
    aldric.dev@gmail.com

    License:  GNU General Public License

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/*
  Input CSS
 */

/*! WF 09-04-2015 - Aldric T - Copyright 2014 - License: WTFPL – Do What the Fuck You Want to Public License  */
.ldrc-input-container input, .ldrc-input-container textarea {
    border: solid 1px #999999;
    border-radius: 5px;
    background-color: white;
    border: 0;
    margin-top: 0;
}

.input-sub-container {
    position: relative;
    height: 30px;
    width: auto;
    float: right;
    width: 100%;
}

.input-sub-container.ldrc-has-label {
    width: 60%;
}

.ldrc-img {
    width: 40px !important;
    height: 40px !important;
}

.ldrc-score-container {
    width: 100px;
}

.ldrc-input-container input {
    width: 100%;
    height: 30px;
    padding-right: 30px;
}

.ldrc-input-container input.has-search-ic {
    padding-left: 30px;
}

.ldrc-input-container input:focus {
    outline: 0;
}

.ldrc-input-container textarea:focus {
    outline: 0;
}

.ldrc-input-container span.clear {
    opacity: 0.7;
    position: absolute;
    width: 25px;
    background-image: url(/packages/aldricus_widgets/imgs/clear25.png);
    background-repeat: no-repeat;
    display: block;
    right: 2px;
    top: 2px;
    visibility: hidden;
    cursor: pointer;
    z-index: 2000;
    height: 25px;
}

.ldrc-input-container span.clear:hover {
    opacity: 1;
}

.ldrc-input-container .area-container {
    position: relative;
}

.ldrc-input-container span.area {
    //top: 4px;
}

.ldrc-input-container span.area-lbl {
    right: 0px;
    top: 0;
}

.ldrc-input-container label {
    float: left;
    line-height: 50%;
    margin-right: 5px;
    color: #352323;
}

.ldrc-input-container .read {
    width: inherit;
    min-height: 20px;
}

.ldrc-input-container .read > * {
    display: inline-block;
}

.ldrc-input-container .read .label {
    float: left;
    margin-right: 10px;
    color: #352323;
    width: 100px;
    word-break: break-all;
}

.ldrc-input-container .read .text {
    margin-left: 120px;
}

.ldrc-input-container .mandatory-msg {
    color: red;
    visibility: hidden;
    margin-right: 10px;
}

.ldrc-input-container .rate {
    cursor: pointer;
}

.ldrc-txtarea-container {
    margin-bottom: 5px;
}

.ldrc-txtarea-container textarea {
    width: 100%;
    height: 200px;
}

.required-input {
    box-shadow: 1px 4px 8px rgba(200, 0, 0, 0.85);
}

.ldrc-txtarea-container .area-label {
    display: inline;
    float: none;
}

.ldrc-search-ic {
    opacity: 0.7;
    background-image: url(/packages/aldricus_widgets/imgs/search.png);
    background-repeat: no-repeat;
    background-size: 90%;
    position: absolute;
    top: 1px;
    z-index: 2000;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

@media (max-width: 820px) {
    /*.ldrc-img{
      width: 40px !important;
      height: 40px !important;
    }*/
}

/*
@media (max-width: 680px) {

  .ldrc-input-container {
    margin: 0;
  }
  .ldrc-input-container input {
    width: 100%;
    height: 40px;
  }
  .ldrc-input-container label {
    height: 30px;
    width: 100%;
  }
  .ldrc-input-container span.clear {
    right: 4px;
    top: 50px;
  }
  .ldrc-input-container span.area {
    top: 58px;
    right: 6px;
  }
}
*/
.ldrc-input-container {
    display: inline-block;
    width: 100%;
    position: relative;
}

/*
  File upload input css
 */
.ldrc-file-upload input[type=image] {
    position: absolute;
}

.ldrc-file {
    text-align: center;
    position: absolute;
}

.ldrc-file-edit button {
    width: 100px;
}

.ldrc-file-edit input {
    position: absolute;
    z-index: 2000;
    opacity: 0.7;
}

.ldrc-file-edit #ldrcClearFileId {
    margin-top: 170px;
    margin-left: 170px;
}

.ldrc-file-edit #ldrcGetPictureId {
    margin-left: 152px;
}

.ldrc-file-small {
    width: 50px;
    height: 50px !important;
}

.ldrc-file-small img {
    width: 50px;
    height: 50px !important;
}

.ldrc-file-medium {
    width: 100px;
    height: 100px !important;
}

.ldrc-file-medium img {
    width: 100px;
    height: 100px !important;
}

.ldrc-file-large {
    width: 200px;
    height: 200px !important;
}

.ldrc-file-large img {
    width: 200px;
    height: 200px !important;
}

.ldrc-file-large button {
    margin-left: 25%;
}

.ldrc-file-small button {
    width: 100%;
    margin: 0;
}

.ldrc-file-rounded img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

.ldrc-file-edit {
    position: relative;
    background-color: #868686;
}

.ldrc-file .load-image {
    width: 34px;
    height: 34px !important;
    margin: auto;
    margin-top: 35%;
}

.ldrc-file-edit .ldrc-file:hover {
    opacity: 0.6;
}

.ldrc-file-edit .container .file-edit-label {
    position: absolute;
    margin: auto;
    margin-top: 35%;
    margin-left: 35%;
    cursor: pointer;
    visibility: visible;
    text-align: center;
}

.ldrc-file-medium .container .file-edit-label {
    margin: auto;
    width: 100%;
    margin-top: 15% !important;
}

.ldrc-file-small .container .file-edit-label {
    margin: auto;
    width: 100%;
    margin-top: 15% !important;
}

.ldrc-file-edit .container .file-edit-label:hover {
    background-color: #868686;
    padding: 5px;
    opacity: 0.8;
}

.ldrc-file-edit .errors {
    display: none;
    color: red;
    background-color: initial;
}

.ldrc-file-edit input[type=file] {
    margin: 0 !important;
    float: none !important;
    width: 100%;
    visibility: hidden;
}

/* Responsive design */
@media (max-width: 900px) {
    .ldrc-file-medium {
        width: 60px;
        height: 60px !important;
    }
    .ldrc-file-medium img {
        width: 60px;
        height: 60px !important;
    }
    /*@media (max-width: 880px) {*/
    .ldrc-input-container.ldrc-has-label {
        height: auto;
        margin: 0;
        display: block;
        height: 60px;
    }
    .input-sub-container.ldrc-has-label{
        height: 30px;
        width: 100%;
    }
    .ldrc-input-container.ldrc-has-label label {
        height: 20px;
        width: 100%;
        line-height: initial;
        margin-left: 5px;
    }
    .input-sub-container.ldrc-has-label .ldrc-search-ic {
        top: 33px;
    }
    .ldrc-input-container textarea {
        width: 100%;
    }
    .ldrc-input-container.ldrc-has-label span.clear {
        background-size: 90% !important;
        top: 36px;
    }
    .ldrc-input-container span.clear:not(.area, .area-lbl) {
        top: 36px;
        right: 4px;
    }
    .ldrc-input-container .read .text {
        margin-left: 0;
    }
    .ldrc-txtarea-container textarea {
        width: 100%;
        height: 200px;
    }
    .ldrc-input-container .read .text {
        width: 65%;
    }
    .input-sub-container, .ldrc-input-container textarea {
        float: none;
    }
    /*}*/
}